@font-face {
    font-family: "julia-wmcf";
    src: url("../fonts/wmcf.eot");
    src: url("../fonts/wmcf.eot?#iefix") format("embedded-opentype"),
        url("../fonts/wmcf.woff") format("woff"),
        url("../fonts/wmcf.ttf") format("truetype"),
        url("../fonts/wmcf.svg#wmcf") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "julia-wmcf";
    src: url("../fonts/wmcf.svg#wmcf") format("svg");
  }
}

.julia-icon {
    font-family: "julia-wmcf";
    font-style: normal;
    display: inline;
}

.julia-icon.julia-fullscreen-exit:before { content: "\f100"; }
.julia-icon.julia-close:before { content: "\f101"; }
.julia-icon.julia-menu:before { content: "\f102"; }
.julia-icon.julia-sound-on:before { content: "\f103"; }
.julia-icon.julia-play-circle-inverse:before { content: "\f104"; }
.julia-icon.julia-gear:before { content: "\f105"; }
.julia-icon.julia-dot-menu-v:before { content: "\f106"; }
.julia-icon.julia-backward:before { content: "\f107"; }
.julia-icon.julia-next:before { content: "\f108"; }
.julia-icon.julia-pause:before { content: "\f109"; }
.julia-icon.julia-broadcast:before { content: "\f10a"; }
.julia-icon.julia-sound-min:before { content: "\f10b"; }
.julia-icon.julia-mark:before { content: "\f10c"; }
.julia-icon.julia-forward:before { content: "\f10d"; }
.julia-icon.julia-list:before { content: "\f10e"; }
.julia-icon.julia-fullscreen:before { content: "\f10f"; }
.julia-icon.julia-subtitles:before { content: "\f110"; }
.julia-icon.julia-download:before { content: "\f111"; }
.julia-icon.julia-play-circle:before { content: "\f112"; }
.julia-icon.julia-sound-off:before { content: "\f113"; }
.julia-icon.julia-play:before { content: "\f114"; }
.julia-icon.julia-dot-menu-h:before { content: "\f115"; }
.julia-icon.julia-previous:before { content: "\f116"; }
.julia-icon.julia-refresh:before { content: "\f117"; }
