@font-face {
    font-family: "julia";
    src: url("../fonts/julia-icons.eot");
    src: url("../fonts/julia-icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/julia-icons.woff") format("woff"),
        url("../fonts/julia-icons.ttf") format("truetype"),
        url("../fonts/julia-icons.svg#Julia") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "julia";
    src: url("../fonts/julia-icons.svg#julia") format("svg");
  }
}

.julia-icon {
    font-family: "julia";
    font-style: normal;
    display: inline;
}

.julia-icon.julia-download:before { content: "\f100"; }
.julia-icon.julia-refresh:before { content: "\f101"; }
.julia-icon.julia-forward:before { content: "\f102"; }
.julia-icon.julia-backward:before { content: "\f103"; }
.julia-icon.julia-close:before { content: "\f104"; }
.julia-icon.julia-fullscreen-exit:before { content: "\f105"; }
.julia-icon.julia-target:before { content: "\f106"; }
.julia-icon.julia-subtitles:before { content: "\f107"; }
.julia-icon.julia-fullscreen:before { content: "\f108"; }
.julia-icon.julia-menu:before { content: "\f109"; }
.julia-icon.julia-dot-menu:before { content: "\f10a"; }
.julia-icon.julia-mark:before { content: "\f10b"; }
.julia-icon.julia-play-circle-inverse:before { content: "\f10c"; }
.julia-icon.julia-play-circle:before { content: "\f10d"; }
.julia-icon.julia-next:before { content: "\f10e"; }
.julia-icon.julia-play:before { content: "\f10f"; }
.julia-icon.julia-play-outline:before { content: "\f110"; }
.julia-icon.julia-pause:before { content: "\f111"; }
.julia-icon.julia-sound-off:before { content: "\f112"; }
.julia-icon.julia-sound-on:before { content: "\f113"; }
.julia-icon.julia-sound-min:before { content: "\f114"; }
.julia-icon.julia-list:before { content: "\f115"; }
.julia-icon.julia-prev:before { content: "\f116"; }
