/* *****************************
* === DEFAULT/WHITE THEME ===
***************************** */
$juliaBackgroundColor: rgba(0,0,0,1);
$juliaOpaqueBackgroundColor: rgba(0,0,0,.7);
$juliaShieldBackgroundColor: rgba(0,0,0,0);
$juliaLabelColor: rgba(221,221,221,1);
$juliaPreloaderColor: rgba(127,255,212,1);
$juliaThemeColor: rgba(127,255,212,1);
$juliaThemeColorHover: rgba(249,249,249,.7);

&.julia-theme-aquamarine {
    background-color: $juliaBackgroundColor;

    div.julia-toolbar {
        background-color: $juliaOpaqueBackgroundColor;
        font-family: sans-serif;

        div.julia-label {
            background-color: $juliaOpaqueBackgroundColor;
            color: $juliaLabelColor;
        }

        .julia-slider {
            .julia-slider-fill {
                background-color: $juliaThemeColor;
            }

            .julia-slider-handle {
                background-color: $juliaThemeColor;
            }
        }
    }

    > div.julia-shield {
        background-color: $juliaShieldBackgroundColor;
        div.julia-preloader {
            background-color: $juliaOpaqueBackgroundColor;

            div.julia-preloader-run {
                border-top-color: $juliaPreloaderColor;
                border-bottom-color: $juliaPreloaderColor;
            }
        }
    }

    button.julia-btn {
        color: $juliaThemeColor;

        &.julia-big-play {
            background-color: $juliaOpaqueBackgroundColor;
        }

        &:hover {
            color: $juliaThemeColorHover;

            &.julia-big-play {
                color: $juliaLabelColor;
                background-color: $juliaBackgroundColor;
            }
        }
    }

    div.julia-suggest {
        background-color: $juliaBackgroundColor;

        div.julia-suggest-item {
            background-color: $juliaBackgroundColor;
            color: $juliaLabelColor;

            div.julia-suggest-item-title {
                background-color: $juliaOpaqueBackgroundColor;
            }

            &:hover {
                color: $juliaThemeColorHover;
            }
        }
    }
}
