@font-face {
  font-family: 'julia-logo';
  src:  url('../fonts/julia-logo.eot?jnfscv');
  src:  url('../fonts/julia-logo.eot?jnfscv#iefix') format('embedded-opentype'),
    url('../fonts/julia-logo.ttf?jnfscv') format('truetype'),
    url('../fonts/julia-logo.woff?jnfscv') format('woff'),
    url('../fonts/julia-logo.svg?jnfscv#julia-logo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.julia-logo-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'julia-logo' !important;
    font-style: normal;
    display: inline;
}

.julia-player:before {
  content: "\e900";
}
