@font-face {
    font-family: "Julia";
    src: url("../fonts/Julia.eot");
    src: url("../fonts/Julia.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Julia.woff") format("woff"),
        url("../fonts/Julia.ttf") format("truetype"),
        url("../fonts/Julia.svg#Julia") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Julia";
    src: url("../fonts/Julia.svg#Julia") format("svg");
  }
}

.julia-icon {
    font-family: "Julia";
    font-style: normal;
    display: inline;
}

.julia-refresh:before { content: "\f100"; }
.julia-close:before { content: "\f101"; }
.julia-download:before { content: "\f102"; }
.julia-fullscreen-exit:before { content: "\f103"; }
.julia-subtitles:before { content: "\f104"; }
.julia-menu:before { content: "\f105"; }
.julia-fullscreen:before { content: "\f106"; }
.julia-dot-menu:before { content: "\f107"; }
.julia-play-circle:before { content: "\f108"; }
.julia-play-circle-inverse:before { content: "\f109"; }
.julia-play:before { content: "\f10a"; }
.julia-pause:before { content: "\f10b"; }
.julia-sound-off:before { content: "\f10c"; }
.julia-sound-on:before { content: "\f10d"; }
.julia-sound-min:before { content: "\f10e"; }
.julia-list:before { content: "\f10f"; }
